.stats-wrapper {
  text-align: center;
  padding-top: 5rem;
  background: #f9f9f9;
}
.stats-wrapper .text-grey {
  margin: 0 auto;
  width: 60% !important;
  color: #bfbfbf;
}
.section-stats {
  padding: 1rem 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.card-row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.card-row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  position: relative;
  z-index: 999;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  width: 15rem;
  text-align: center;
  border-radius: 0.3rem;
  background-color: #fff;
}

.card p {
  color: #bfbfbf;
  font-size: 15px !important;
  font-weight: lighter !important;
}
.card .card-header {
  font-weight: normal !important;
}

hr {
  max-width: 60%;
  background: #2acfcf;
  border: #2acfcf solid 4px;
  position: relative;
  top: 8.5rem;
  z-index: 1;
}

.icon img {
  background-color: #3b3054;
  border-radius: 100%;
  padding: 0.4rem;
  position: relative;
  display: block;
  bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .card-column {
    width: 100%;
    display: block;
    margin-bottom: 40px;
  }
}

@media (max-width: 786px) {
  hr {
    display: none;
  }
  .stats-wrapper .text-grey {
    width: 100% !important;
  }

  .icon img {
    background-color: #3b3054;
    border-radius: 100%;
    padding: 0.4rem;
    /* position: relative; */
    /* display: block; */
    margin: 0 auto;
    bottom: 2rem;
  }
}

@media (min-width: 786px) {
  .card-column:nth-child(2) {
    margin-top: 2rem;
  }
  .card-column:nth-child(3) {
    margin-top: 4rem;
  }
}
