.input-wrapper {
  margin-top: 5rem;
}
.input-container {
  background: #35323e;
  /* margin: 6rem 0; */
  margin: 0 auto;
  width: 80%;
  border-radius: 0.5rem !important;
}

.input-container .box {
  border-radius: 0.5rem;
  display: flex;
  width: 100%;
  background-image: url("./resources/images/bg-shorten-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  width: 80%;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 0;
  padding-left: 1rem;
}

.btn-shorten {
  margin-left: 1rem;
  border-radius: 0.3rem !important;
}

input:focus {
  outline: none;
}

@media (max-width: 786px) {
  .input-container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  form {
    display: block;
  }

  .btn-shorten {
    width: 90%;
    margin: 0 !important;
  }
  .input-container .box {
    padding-bottom: 1rem;
  }

  form input {
    width: 90%;
    margin-bottom: 0.2rem;
  }
}

@media (min-width: 786px) {
  .input-wrapper {
    position: relative;
    top: 2.5rem;
  }
}
