@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
body,
html {
  font-size: 18px;
  margin: 0;
}

button {
  color: white;
  background: #2acfcf;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  text-align: center;
  border: oldlace;
  transition-duration: 0.3s;
}
button:hover {
  opacity: 0.8;
}
button:focus {
  outline: none;
}

.text-primary {
  color: #2acfcf;
}
.text-primary:hover {
  color: #bfbfbf;
}
.text-secondary {
  color: #f46262;
}
.text-secondary:hover {
  color: #3b3054;
}
.text-primary {
  color: #35323e;
}
.text-primary:hover {
  color: #232127;
}

.bg-purple {
  color: #3b3054;
}
